{%- import 'include/readme.jinja' as readme with context -%}
{{- readme.title }}
{{- readme.badges }}
{{- readme.description }}
{{- readme.features }}
{{- readme.getting_started }}
{{- readme.installation }}
{{- readme.usage }}
{{- readme.examples }}
{{- readme.documentation }}
{{- readme.support }}
{{- readme.security }}
{{- readme.contributing }}
{{- readme.license }}
{{- readme.references }}