{%- if project.name | length -%}
# {{ project.name | title }}

{% endif %}
{%- if (project.repository.name | length) and (project.repository.owner | length) -%}
<p align="left">
  <img
    src="https://img.shields.io/github/v/release/{{ project.repository.owner }}/{{ project.repository.name }}"
    alt="GitHub release latest SemVer"
  />
  <img
    src="https://img.shields.io/github/release-date/{{ project.repository.owner }}/{{ project.repository.name }}"
    alt="GitHub Release Date"
  />
  <img
    src="https://img.shields.io/github/languages/top/{{ project.repository.owner }}/{{ project.repository.name }}"
    alt="GitHub top language"
  />
  <img
    src="https://img.shields.io/gitlab/coverage/{{ project.repository.owner }}/{{ project.repository.name }}/main"
    alt="Gitlab code coverage"
  />
  <img
    src="https://img.shields.io/github/commit-activity/y/{{ project.repository.owner }}/{{ project.repository.name }}"
    alt="GitHub commit activity"
  />
  <img
    src="https://img.shields.io/github/contributors/{{ project.repository.owner }}/{{ project.repository.name }}"
    alt="GitHub contributors"
  />
</p>

{% endif %}
{%- if project.description | length -%}
{{ project.description }}

{% endif %}
{%- if project.features | length -%}
## Features
{% for feature in project.features %}
- {{ feature | capitalize }}
{%- endfor %}

{% endif %}
{%- if (project.installation | length) or (project.usage | length) -%}
## Getting started

{% endif %}
{%- if project.installation | length -%}
### Installation
{% for installation in project.installation %}
#### {{ installation.platform }}

```shell
{%- for step in installation.steps %}
{{ step }}
{%- endfor %}
```
{% endfor %}
{% endif %}
{%- if project.usage | length -%}
### Usage

```shell
{%- for step in project.usage.steps %}
{{ step }}
{%- endfor %}
```

{% endif %}
{%- if project.examples | length -%}
### Examples

```shell
{%- for step in project.examples.steps %}
{{ step }}
{%- endfor %}
```

{% endif %}
{%- if project.documentation.enabled and (project.repository.owner | length) and (project.repository.name | length) -%}
## [Documentation](https://{{ project.repository.owner }}.github.io/{{ project.repository.name }}/)

{% endif %}
{%- if project.support.enabled and (project.repository.owner | length) and (project.repository.name | length) -%}
## [Support](https://github.com/{{ project.repository.owner }}/{{ project.repository.name }}/blob/main/SUPPORT.md)

{% endif %}
{%- if project.security.enabled -%}
## [Security](https://github.com/{{ project.repository.owner }}/{{ project.repository.name }}/blob/main/SECURITY.md)

{% endif %}
{%- if project.contributing.enabled and (project.repository.owner | length) and (project.repository.name | length) -%}
## [Contributing](https://github.com/{{ project.repository.owner }}/{{ project.repository.name }}/blob/main/CONTRIBUTING.md)

<a href="https://github.com/{{ project.repository.owner }}/{{ project.repository.name }}/graphs/contributors">
  <img src="https://contrib.rocks/image?repo={{ project.repository.owner }}/{{ project.repository.name }}" />
</a>

{% endif %}
{%- if (project.repository.owner | length ) and (project.repository.name | length) -%}
## [License](https://github.com/{{ project.repository.owner }}/{{ project.repository.name }}/blob/main/LICENSE)

<p>
  <img
    src="https://img.shields.io/github/license/{{ project.repository.owner }}/{{ project.repository.name }}"
    alt="GitHub"
  />
<p/>

{% endif %}
{%- if (project.repository.owner) and (project.repository.name | length) -%}
## Project status

<p>
  <img
    src="https://img.shields.io/github/commit-activity/y/{{ project.repository.owner }}/{{ project.repository.name }}"
    alt="GitHub commit activity"
  />
  <img
      src="https://img.shields.io/github/last-commit/{{ project.repository.owner }}/{{ project.repository.name }}"
      alt="GitHub last commit"
  />
</p>
{%- endif %}
