# Security policy

## Supported versions

| Version | Supported |
| ------- | --------- |
| latest  | yes       |
| <latest | no        |

## Reporting a vulnerability

Please, [report vulnerabilities][report-vulnerability] to repository maintainer.

[report-vulnerability]: https://github.com/{{ project.repository.owner }}/{{ project.repository.name }}/security/advisories/
