# Support

## General questions

- Avoid open issues for general support questions.
- Use [Stack Overflow][stack-overflow] to ask support-related questions.

The project is going to systematically close all issues that are
requests for general support and redirect people to Stack Overflow.

[stack-overflow]: https://stackoverflow.com/